/* styles.css */
.rainbow-text {
    background: linear-gradient(45deg, #1161c2, #00A7FF, #00CFFF, #00FFC7);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 4s linear infinite;
    background-size: 200% 200%;
  }
  
  /* @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  } */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, 1fr);    /* 4 rows */
    gap: 20px; /* Adjust the gap between grid items as needed */
  }
  
  .blog-article {
    border: 1px solid #ccc; /* Add a border or styling for the blog articles */
    padding: 10px;
  }
  